In [3]:
import pandas_datareader as pdr 
df = pdr.get_data_yahoo('AAPL')
df1 = df[df['Volume']>0]

In [19]:
data_source = r'C:\Users\user\Desktop\Grad\PY Modules\AAPL.xlsx'
df1.to_excel(data_source)

In [29]:
import pandas as pd 
import numpy as np
df = pd.read_excel(r'C:\Users\user\Desktop\Grad\PY Modules\AAPL.xlsx')
df[:10]

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-06-29,126.470001,124.480003,125.459999,124.529999,49161400,114.767921
1,2015-06-30,126.120003,124.860001,125.570000,125.430000,44370700,115.597382
2,2015-07-01,126.940002,125.989998,126.900002,126.599998,30238800,116.675667
3,2015-07-02,126.690002,125.769997,126.430000,126.440002,27211000,116.528198
4,2015-07-06,126.230003,124.849998,124.940002,126.000000,28060400,116.122704
5,2015-07-07,126.150002,123.769997,125.889999,125.690002,46946800,115.837006
6,2015-07-08,124.639999,122.540001,124.480003,122.570000,60761600,112.961594
7,2015-07-09,124.059998,119.220001,123.849998,120.070000,78595000,110.657570
8,2015-07-10,123.849998,121.209999,121.940002,123.279999,61354500,113.615921
9,2015-07-13,125.760002,124.320000,125.029999,125.660004,41440500,115.809349

In [91]:
class Strategy:
    def __init__(self): 
        self.t_name =  t_name 
        self.short_win = short_win
        self.long_win = long_win
        self.cond = df.index > self.long_win
        self.trade_price = df['Open']
        self.close = df['Adj Close']
        
    def smav(self): 
        self.smav = np.where(Strategy().cond, Strategy().close.rolling(window =Strategy().short_win).mean(), 0)
        return self.smav
    
    def lmav(self): 
        self.lmav = np.where(Strategy().cond, Strategy().close.rolling(window =Strategy().long_win).mean(), 0)
        return self.lmav
    
    def trend_day(self): 
        self.trend_day = np.where(Strategy().lmav() > Strategy().smav(), 1, 
                            np.where(Strategy().lmav() < Strategy().smav(),-1,0))
        return self.trend_day
    
    def prev_trend_day (self):
        self.prev_trend_day = np.where(Strategy().cond, np.roll(Strategy().trend_day(), 1), 0)
        return self.prev_trend_day 
    def diff_trend_day (self): 
        self.diff_trend_day = Strategy().trend_day() + Strategy().prev_trend_day()
        return self.diff_trend_day
     
                             
                             
#global variable 
t_name = 'mav'
short_win = 5
long_win = 20

s= Strategy()

df ['smav'] = s.smav()
df ['lmav'] = s.lmav()
df ['trend_day'] = s.trend_day()
df['prev_trend_day'] = s.prev_trend_day()
df['diff_trend_day'] = s.diff_trend_day ()
                             
                             
df[80:85]

,Date,High,Low,Open,Close,Volume,Adj Close,smav,lmav,trend_day,prev_trend_day,diff_trend_day,trade_signal
80,2015-10-21,115.580002,113.699997,114.000000,113.760002,41795200,105.316780,104.087338,103.304122,-1,-1,-2,0
81,2015-10-22,115.500000,114.099998,114.330002,115.500000,41654100,106.927628,104.761305,103.327267,-1,-1,-2,0
82,2015-10-23,119.230003,116.330002,116.699997,119.080002,59366900,110.241913,106.249959,103.529550,-1,-1,-2,0
83,2015-10-26,118.129997,114.919998,118.080002,115.279999,66333800,106.723946,106.907259,103.661010,-1,-1,-2,0
84,2015-10-27,116.540001,113.989998,115.400002,114.550003,69884400,106.048149,107.051683,103.915138,-1,-1,-2,0

In [96]:
class Signal:
    def __init__(self):
        pass
    def trade_signal(self):
        self.trade_signal = np.where(Strategy().diff_trend_day() ==0, Strategy().trend_day(), 0)
        return self.trade_signal 
    def order (self): 
        self.order = np.where(Strategy().cond, np.roll(Signal().trade_signal(), 1), 0)
        return self.order 
    
    
    
ts = Signal()
    
df['trade_signal'] =  ts.trade_signal()
df['order'] = ts.order()
df[80:85]

,Date,High,Low,Open,Close,Volume,Adj Close,smav,lmav,trend_day,prev_trend_day,diff_trend_day,trade_signal,self.order,order
80,2015-10-21,115.580002,113.699997,114.000000,113.760002,41795200,105.316780,104.087338,103.304122,-1,-1,-2,0,-1,-1
81,2015-10-22,115.500000,114.099998,114.330002,115.500000,41654100,106.927628,104.761305,103.327267,-1,-1,-2,0,0,0
82,2015-10-23,119.230003,116.330002,116.699997,119.080002,59366900,110.241913,106.249959,103.529550,-1,-1,-2,0,0,0
83,2015-10-26,118.129997,114.919998,118.080002,115.279999,66333800,106.723946,106.907259,103.661010,-1,-1,-2,0,0,0
84,2015-10-27,116.540001,113.989998,115.400002,114.550003,69884400,106.048149,107.051683,103.915138,-1,-1,-2,0,0,0

In [110]:
class Portfolio:
    def __init__(self):
        self.lot_size_short = 1
        self.lot_size_long = 1
        self_contract_size = 1
        self.initial_cash = 10000
        self.short_amt = (1)* np.where (Signal().order()== -1, self.lot_size_short*
                                        self_contract_size*Strategy().trade_price, 0)
        self.long_amt = (-1)* np.where (Signal().order()==1, self.lot_size_long*
                                        self_contract_size*Strategy().trade_price, 0)
        
        
        

p = Portfolio()
df['long_amt'] = p.long_amt
df['short_amt'] = p.short_amt

df[80:86]

,Date,High,Low,Open,Close,Volume,Adj Close,smav,lmav,trend_day,prev_trend_day,diff_trend_day,trade_signal,self.order,order,long_amt,short_amt
80,2015-10-21,115.580002,113.699997,114.000000,113.760002,41795200,105.316780,104.087338,103.304122,-1,-1,-2,0,-1,-1,-0.0,114.0
81,2015-10-22,115.500000,114.099998,114.330002,115.500000,41654100,106.927628,104.761305,103.327267,-1,-1,-2,0,0,0,-0.0,0.0
82,2015-10-23,119.230003,116.330002,116.699997,119.080002,59366900,110.241913,106.249959,103.529550,-1,-1,-2,0,0,0,-0.0,0.0
83,2015-10-26,118.129997,114.919998,118.080002,115.279999,66333800,106.723946,106.907259,103.661010,-1,-1,-2,0,0,0,-0.0,0.0
84,2015-10-27,116.540001,113.989998,115.400002,114.550003,69884400,106.048149,107.051683,103.915138,-1,-1,-2,0,0,0,-0.0,0.0
85,2015-10-28,119.300003,116.059998,116.930000,119.269997,85551400,110.417809,108.071889,104.330350,-1,-1,-2,0,0,0,-0.0,0.0